*{
    margin: 0;
    padding: 0;
}
body{
    font-family: monospace;
}
#container{
    font-family: monospace;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #00798c;
}
#sub-container1{
    margin: 5% 5% 5% 10%;
}
#sub-container2{
    margin: 0% 0% 5% 20%;
    height: auto;
    min-height: 400px;
    background-color: #edae49;
}
#answerInput{
    width: 50%;
    height: 40px;
    border: #edae49 solid 2px;
    border-radius: 5px;
    padding: 1%;
    margin-left: 15%;
}
#submitButton{
    width: 10%;
    height: 50px;
    margin: 2%;
    background-color: #edae49;
    border-radius: 5px;
    border: #edae49;
    font-weight: bold;
}
#restart{
    width: 30%;
    height: 50px;
    margin: 10% 20% 20% 15%;
    background-color: #edae49;
    border-radius: 5px;
    border: #edae49;
    font-weight: bold;
}
#submitButton:hover, #restart:hover{
    background-color: black;
    color: #edae49;
}
#successDiv{
    padding: 5%;
    margin: 3%;
    font-size: 12px;
}
#failDiv{
    padding: 5%;
    margin: 3%;
    font-size: 12px;
}
#failDiv:hover{
    transform: scale(0.9);
}
#scoreHolder{
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
    font-weight: bold;
}
#successDiv{
    background-color: #40916c;
    height: 100px;
    border-radius: 10px;
    animation: slideInRight; 
    animation-duration: 0.5s;
}
#failDiv {
    background-color: #d1495b;
    height: 100px;
    border-radius: 10px;
    animation: slideInRight; 
    animation-duration: 0.5s;
}
#questionLine{
    font-size: 30px;
    margin-top: 5%;
    margin-left: 15%;
    font-weight: bold;
 }
span{
    color: white
}
#myForm{
    height: auto;
    min-height: 100px;
    padding-top: 10%;
}
label{
    font-size: 20px;
    size: 20px;
    margin: 1%;
    color: #edae49;
    font-weight: bold;
}
input{
    height: 20px;
    size: 20px;
    vertical-align: middle;
    background-color: black; 
    color: white;
}
label:hover{
   color: black;
}
footer{
    background-color: black;
    height: auto;
    min-height: 50px;
    margin-top: -1.5%;
    text-align: center;
    font-weight: bold;
    color: #edae49;
}
form{
    margin-left: 15%;
    animation: slideInRight; 
    animation-duration: 0.5s;
}
#img{
    width: 30px;
    margin-left: 40%;
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    #container{
        display: grid;
        grid-template-columns:100%;
       
    }
    #sub-container1{
      height: auto;
       min-height: 350px;
    }
    #sub-container2{
       margin: 0% 0% 5% 0%;
        height: auto;
        min-height: 100px;
    }
    #answerInput{
        width: 80%;
        height: 40px;
        margin: 10% 0% 0% 0%;
    }
    #submitButton{
        width: 40%;
        height: 50px;
        margin: 10% 0% 0% 20%;
       
    }
    #questionLine{
        width: 80%;
        height: 150px;
        margin: 10% 0% 0% 0%;
     }
     #restart{
        width: 40%;
        height: 40px;
        margin: 10% 0% 0% 20%;
       
    }
    footer{
        background-color: black;
        height: auto;
        min-height: 50px;
        margin-top: -5%;
        color: #edae49;
    }
   }

